* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size:10px;
}
body{
    font-size:1.5rem;
}
.calculator{
    display: grid;
    width:360px;
    border:2px solid #ccc;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.title{
   font-size:2rem;
   height: 30px;
   position: relative;
   top:10px;
   left: 10px;
}
.calculator-input{
    height: 100px;
    width: 340px;
    font-size:2rem;
    margin:10px;
    padding: 10px;
    border:3px solid black;
    text-align: right;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
}

.display2{
    font-size: 4rem;
    font-weight: bold;
}
.fa-arrow-rotate-right{
    position: relative;
    left:210px;
}
button{
    height: 50px;
    border-radius: 5px;
    border:none;
    font-size: 2rem;
}
.calculatorKeys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:5px;
    padding: 10px;
}
button:hover{
    background-color: #999;
}